<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_SignatureContracts" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:9999/signtureservice" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_SignatureContracts" contract="SigntureServiceReference.SignatureContracts"
                name="WSHttpBinding_SignatureContracts">
                <identity>
                    <userPrincipalName value="qw-PC\admin" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>